<h2><%- page.title %></h2>
<div class='post'>
    <%- page.content %>
</div>
<div class="button-container">
    <a href="/"><div class="button"><i class="fa fa-home" aria-hidden="true"></i> Blog Home</div></a>
</div>
